<div class="todos-admin"></div>

<div data-ng-controller="TodosCtrl" data-ng-init="init()" ng-cloak>

  <div class="text-center">
    <div data-todos-add-form></div>
  </div>

  <div class='well' ng-show="0 < todos.length">
    <div class="pull-left">
      <button class="btn btn-small" ng-click="viewPrintTodos()"><span tooltip="Printer-friendly view"><em class="icon-print"></em></span></button>
      <button class="btn btn-small" ng-click="archive()" ng-show="remaining() < todos.length"><span tooltip="Archive completed todos"><em class="icon-book"></em></span></button>
    </div>

    <div class="pull-right">
      <button class="btn btn-small btn-warning" ng-click="clearTodos()"><span tooltip="Delete all"><em class="icon-trash icon-white"></em></span></button>
    </div>

    <div style="display: table; margin: 0 auto">
      <div todos-search></div>
    </div>


    <div class="clearfix"></div>
    <hr>
    <div>
      <accordion close-others="true">
         <accordion-group ng-repeat="todo in todos | orderBy:'priority':true | filter:filterTodosNotDone">
            <accordion-heading>
              <span class="lead done-{{todo.done}}">{{todo.text}}</span>
              <span class="pull-right">
              <rating value="todo.priority" max="5" readonly="true"></rating>
              <span class="label label-info" ng-show="todo.startedDate && !todo.done">Started on {{todo.startedDate}}</span>
              <span class="label label-success" ng-show="todo.done">Done on {{todo.finishedDate}}</span>
              </span>
            </accordion-heading>
            <div class="pull-left">
              <button class="btn btn-small btn-success" ng-click="setDone(todo, true)"><span tooltip="Done" tooltip-placement="bottom"><em class="icon-ok icon-white"></em></span></button>
              <button class="btn btn-small" ng-click="editTodo(todo)"><span tooltip="Edit" tooltip-placement="bottom"><em class="icon-edit"></em></span></button>

              <button class="btn btn-small" ng-click="setStartedDate(todo)"><span tooltip="Start" tooltip-placement="bottom"><em class="icon-play"></em></span></button>
              <button class="btn btn-small" ng-click="setStartedDate(todo)"><span tooltip="Stop" tooltip-placement="bottom"><em class="icon-stop"></em></span></button>


              <button type="button" class="btn btn-success" ng-click="setStartedDate(todo)" ng-hide="todo.startedDate || todo.done">
                  Start
              </button>
            </div>

            <div class="pull-right">
              <button class="btn btn-small btn-warning" ng-click="deleteTodo(todo)"><span tooltip="Delete" tooltip-placement="bottom"><em class="icon-remove icon-white"></em></span></button>
            </div>

            <div class="clearfix"></div>
            <hr>
            <div ng-show="hasNotes(todo)">
              <p>{{todo.notes}}</p>
            </div>
            <div><p ng-show="todo.dueDate">Due {{todo.dueDate.toString()}}</p></div>
            <div><p ng-show="todo.createdBy">Created by {{todo.createdBy}}</p></div>
            <div><p ng-show="todo.createdDate">Created {{todo.createdDate}}</p></div>
            <div><p ng-show="todo.startedDate">Started {{todo.startedDate}}</p></div>
            <div><p ng-show="todo.finishedDate">Finished {{todo.finishedDate}}</p></div>
         </accordion-group>
      </accordion>
    </div>

    <div>
      <accordion close-others="true">
         <accordion-group ng-repeat="todo in todos | orderBy:'finishedDate':true | filter:filterTodosDone">
            <accordion-heading>
              <span class="lead done-{{todo.done}}">{{todo.text}}</span>
              <span class="pull-right">
              <span class="label label-info" ng-show="todo.startedDate && !todo.done">Started on {{todo.startedDate}}</span>
              <span class="label label-success" ng-show="todo.done">Done on {{todo.finishedDate}}</span>
              </span>
            </accordion-heading>

            <div class="pull-left">
              <button type="button" class="btn btn-primary" ng-click="setDone(todo, false)">
                  Undo
              </button>
            </div>

            <rating class="pull-right" value="todo.priority" max="5" readonly="true"></rating>

            <div class="clearfix"></div>
            <hr>
            <div ng-show="hasNotes(todo)">
              <p>{{todo.notes}}</p>
            </div>
            <div><span>Created {{todo.createdDate}}<span></div>
            <div><span ng-show="todo.startedDate">Started {{todo.startedDate}}<span></div>
            <div><span ng-show="todo.finishedDate">Finished {{todo.finishedDate}}<span></div>
         </accordion-group>
      </accordion>
    </div>

</div>
