.done-true {
  text-decoration: line-through;
  color: grey;
}


.created-date {
  font-size: small;
}


.todo-stats {
  font-size: small;
}

.todos-navbar-stats {
  padding-top: 10px;
}

.todo-details {
  font-size: small;
}


.todo-text {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.todo-notes {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.form-add-todo {
  vertical-align: middle;
}


.input-new-todo-text {
  height: 1.5em !important;
  font-size: 1.5em !important;
}


@media all {
	.todo-page-break	{ display: none; }
}

@media print {
	.todo-page-break	{ display: block; page-break-before: always; }
}
