<div class="todos-admin"></div>

<div data-ng-controller="TodosCtrl" data-ng-init="init()" ng-cloak>

  <div class="text-center">
    <div data-todos-add-form></div>
  </div>

  <div class="well" ng-show="0 < todos.length">
    <div class="pull-left">
      <span tooltip="Printer-friendly view"><button class="btn" ng-click="viewPrintTodos()"><i class="icon-print"></i></button></span>
      <span tooltip="Archive completed todos"><button class="btn" ng-click="archive()" ng-show="remaining() < todos.length"><i class="icon-archive"></i></button></span>
    </div>

    <div class="pull-right">
      <span tooltip="Delete all"><button class="btn btn-warning" ng-click="clearTodos()"><i class="icon-trash icon-white"></i></button></span>
    </div>

    <div style="display: table; margin: 0 auto">
      <div todos-search></div>
    </div>


    <div class="clearfix"></div>
    <hr>
    <div>
      <accordion close-others="true">
         <accordion-group ng-repeat="todo in todos | orderBy:'priority':true | filter:filterTodosNotDone">
            <accordion-heading>
              <span class="lead done-{{todo.done}}">{{todo.text}}</span>
              <span class="pull-right">
              <span ng-show="todo.priority > 0"><rating value="todo.priority" max="5" readonly="true"></rating></span>
              <span class="label label-info" ng-show="todo.startedDate && !todo.done">Started on {{todo.startedDate}}</span>
              <span class="label label-success" ng-show="todo.done">Done on {{todo.finishedDate}}</span>
              </span>
            </accordion-heading>
            <div todo-list-view></div>
         </accordion-group>
      </accordion>
    </div>

    <div>
      <accordion close-others="true">
         <accordion-group ng-repeat="todo in todos | orderBy:'finishedDate':true | filter:filterTodosDone">
            <accordion-heading>
              <span class="lead done-{{todo.done}}">{{todo.text}}</span>
              <span class="pull-right">
              <span class="label label-info" ng-show="todo.startedDate && !todo.done">Started on {{todo.startedDate}}</span>
              <span class="label label-success" ng-show="todo.done">Done on {{todo.finishedDate}}</span>
              </span>
            </accordion-heading>

            <div class="pull-left">
              <button type="button" class="btn btn-primary" ng-click="setDone(todo, false)">
                  Undo
              </button>
            </div>

            <rating class="pull-right" value="todo.priority" max="5" readonly="true"></rating>

            <div class="clearfix"></div>
            <hr>
            <div ng-show="hasNotes(todo)">
              <p>{{todo.notes}}</p>
            </div>
            <div><span>Created {{todo.createdDate}}<span></div>
            <div><span ng-show="todo.startedDate">Started {{todo.startedDate}}<span></div>
            <div><span ng-show="todo.finishedDate">Finished {{todo.finishedDate}}<span></div>
         </accordion-group>
      </accordion>
    </div>

</div>
