<div data-ng-controller="TodosCtrl" data-ng-init="init()" ng-cloak>

  <div ng-include="'views/navbar.html'"></div>

  <div class="text-center">
    <form class="form-inline" ng-submit="addTodo()">
        <input class="btn-primary btn-large" type="submit" value="Add"></input>
        <input class="input-new-todo-text input-xxlarge" type="text" ng-model="newTodoText" size="80" placeholder="new todo"></input>
    </form>
  </div>

  <div class='well' ng-show="0 < todos.length">
    <div class="pull-left">
      <a class="btn" href="" ng-click="viewPrintTodos()">Printer View</a>
    </div>
    <div class="pull-left">
      <a class="btn" href="" ng-show="remaining() < todos.length" ng-click="archive()">Archive</a>
    </div>
    <div class="pull-right">
      <a class="btn btn-warning" href="" ng-click="clearTodos()">Delete All</a>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div>
      <accordion close-others="true">
         <accordion-group ng-repeat="todo in todos | orderBy:'priority':true | filter:!'done'">
            <accordion-heading>
              <span class="lead done-{{todo.done}}">{{todo.text}}</span>
              <span class="pull-right">
              <rating value="todo.priority" max="5" readonly="true"></rating>
              <span class="label label-info" ng-show="todo.startedDate && !todo.done">Started on {{todo.startedDate}}</span>
              <span class="label label-success" ng-show="todo.done">Done on {{todo.finishedDate}}</span>
              </span>
            </accordion-heading>
            <button type="button" class="btn btn-primary" ng-click="setDone(todo, true)" ng-hide="todo.done">
                Done
            </button>

            <button type="button" class="btn btn-success" ng-click="setStartedDate(todo)" ng-hide="todo.startedDate || todo.done">
                Start
            </button>

            <button type="button" class="btn" ng-click="editTodo(todo)">
                Edit
            </button>
            <hr>
            <div ng-show="hasNotes(todo)">
              <p>{{todo.notes}}</p>
            </div>
            <div><p ng-show="todo.dueDate">Due {{todo.dueDate.toString()}}</p></div>
            <div><p ng-show="todo.createdDate">Created {{todo.createdDate}}</p></div>
            <div><p ng-show="todo.startedDate">Started {{todo.startedDate}}</p></div>
            <div><p ng-show="todo.finishedDate">Finished {{todo.finishedDate}}</p></div>
         </accordion-group>
      </accordion>
    </div>

    <div>
      <accordion close-others="true">
         <accordion-group ng-repeat="todo in todos | orderBy:'finishedDate':true | filter:!!'done'">
            <accordion-heading>
              <span class="lead done-{{todo.done}}">{{todo.text}}</span>
              <span class="pull-right">
              <span class="label label-info" ng-show="todo.startedDate && !todo.done">Started on {{todo.startedDate}}</span>
              <span class="label label-success" ng-show="todo.done">Done on {{todo.finishedDate}}</span>
              </span>
            </accordion-heading>

            <rating class="pull-right" value="todo.priority" max="5" readonly="true"></rating>
            <hr>
            <div ng-show="hasNotes(todo)">
              <p>{{todo.notes}}</p>
            </div>
            <div><span>Created {{todo.createdDate}}<span></div>
            <div><span ng-show="todo.startedDate">Started {{todo.startedDate}}<span></div>
            <div><span ng-show="todo.finishedDate">Finished {{todo.finishedDate}}<span></div>
         </accordion-group>
      </accordion>
    </div>

</div>
