<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/todo.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-app="doneApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div data-ng-controller="TodoCtrl", data-ng-init="init()">
      <div class="navbar">
        <div class="navbar-inner">
        <a class="brand" href="#">Done! - a motivational app for getting things done.</a>
        <ul class="nav pull-right">
          <li ng-show="0 < todos.length"><span class="label label-info">{{remaining()}} of {{todos.length}} remaining</span></li>
        </ul>
        </div>
      </div>

      <div class="text-center">
        <form class="form-inline" ng-submit="addTodo()">
            <input class="btn-primary btn-large" type="submit" value="Add"></input>
            <input class="input-new-todo-text input-xxlarge" type="text" ng-model="newTodoText" size="80" placeholder="new todo"></input>
        </form>
      </div>

      <div class='well' ng-show="0 < todos.length">
        <div class="pull-left">
          <a class="btn" href="" ng-show="remaining() < todos.length" ng-click="archive()">Archive</a>
        </div>
        <div class="pull-right">
          <a class="btn btn-warning" href="" ng-click="clearTodos()">Delete All</a>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div>
          <accordion close-others="oneAtATime">
             <accordion-group ng-repeat="todo in todos | orderBy:'priority':true">
                <accordion-heading>
                  <p class="lead done-{{todo.done}}">{{todo.text}}</p>
                </accordion-heading>
                <button type="button" class="btn btn-primary" ng-model="todo.done" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                    Done
                </button>
                <rating class="pull-right" value="todo.priority" max="5" readonly="false"></rating>
                <hr>
                <div ng-show="todo.done">
                <alert type="'success'">{{positiveMessage}}</alert>
                </div>
                <div class="well"><form name="form_todo_notes">
                  Notes
                  <textarea class="todo-notes" name="todo_notes" ng-model="todo.notes" ng-maxlength="255" ng-change="saveTodo(todo)"></textarea>
                </form>
                </div>
                <div><span>Created {{todo.created}}<span></div>
             </accordion-group>
          </accordion>

        </div>
    </div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-local-storage/angular-local-storage.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/todo.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
