<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/todo.css">
    <!-- endbuild -->
  </head>
  <body ng-app="doneApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class='hero-unit'>
      <h2>Todo</h2>
      <div data-ng-controller="TodoCtrl", data-ng-init="init()">
        <form ng-submit="addTodo()">
          <input type="text" ng-model="todoText" size="30" placeholder="add new todo here">
          <input class="btn-primary" type="submit" value="add">
        </form>
        <span>{{remaining()}} of {{todos.length}} remaining</span>
        [ <a href="" ng-click="archive()">done</a> ]
        [ <a href="" ng-click="clearTodos()">clear</a> ]
        <ul class="unstyled">
          <li ng-repeat="todo in todos | orderBy:'priority':true">
            <div ng-mouseover="mouseoverTodo(todo)" ng-click="clickTodo(todo)">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
              <span class="todo-stats" ng-show="todo.key == over.key">
                <span>{{todo.priority}}</span><em class="icon-chevron-up" ng-click="priorityUp(todo)"></em><em class="icon-chevron-down" ng-click="priorityDown(todo)"></em>
              </span>
              <div class="todo-details" ng-show="todo.key == clicked.key">
                <div class="well">
                  <span class="created-date">Created {{todo.created}}</span>
                <div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-local-storage/angular-local-storage.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/todo.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
