<div class="user-signup-div text-center" data-ng-controller="UserSignupCtrl" data-ng-init="init()" ng-cloak>

  <legend>Sign up</legend>

  <form class="form-horizontal" ng-submit="signup()" novalidate>

    <div class="control-group">
      <label class="control-label" for="userSignupName">Name</label>
      <div class="controls">
        <input type="text" id="userSignupName" name="userSignupName" ng-model="userSignupName" placeholder="Name" autofocus="true" required></input>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="userSignupEmail">Email</label>
      <div class="controls">
        <input type="email" id="userSignupEmail" name="userSignupEmail" ng-model="userSignupEmail" placeholder="Email" required></input>
      </div>
    </div>

    <div ng-show="form.userSignupEmail.$dirty && form.userSignupEmail.$invalid">Sorry,
      <span ng-show="form.userSignupEmail.$error.required">you must provide a valid email address.</span>
      <span ng-show="form.userSignupEmail.$error.email">this is not a valid email address.</span>
    </div>

    <div class="control-group">
      <label class="control-label" for="userSignupPassword">Enter Password</label>
      <div class="controls">
        <input type="password" id="userSignupPassword" ng-model="userSignupPassword" placeholder="Type Password" required></input>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="userSignupPassword2">Verify Password</label>
      <div class="controls">
        <input type="password" ng-model="userSignupPassword2" placeholder="Type Password Again" required></input>
      </div>
    </div>

    <div class="control-group" ng-show="valid()">
      <button type="submit" class="btn-primary btn-large">Sign up <i class="icon-fixed-width icon-thumbs-up"></i></button>
    </div>

    <hr>

    <div class="control-group">
      <a href="/#/signin">Have you already signed up?</a>
    </div>


  </form>
</div>
