.user-input-username, .user-input-userpassword {
  height: 1.5em !important;
  font-size: 1.5em !important;
}


.user-signin-div {
  display: table;
  margin: 0 auto;
}


.user-signup-div {
  display: table;
  margin: 0 auto;
}


.user-remember-me-div {
  display: table;
  margin: 0 auto;
}
