<div data-ng-controller="UserEditCtrl" data-ng-init="init()" ng-cloak>
  <h1>{{user.name}}</h1>

  <div class="container-fluid">

    <legend>Profile</legend>
    <form class="form-horizontal">

      <div class="control-group">
        <label class="control-label" for="userProfileName">Name</label>
        <div class="controls">
          <input type="text" id="userProfileName" name="userProfileName" ng-model="user.profile.name"></input>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="userProfileEmail">Email</label>
        <div class="controls">
          <input type="text" id="userProfileEmail" name="userProfileEmail" ng-model="user.profile.email"></input>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="userProfileWebsiteUrl">Website</label>
        <div class="controls">
          <input type="text" id="userProfileWebsiteUrl" name="userProfileWebsiteUrl" ng-model="user.profile.websiteUrl"></input>
        </div>
      </div>

    </form>

    <legend>Preferences</legend>
    <form class="form-horizontal">

      <div class="control-group">
        <label class="control-label" for="userPreferencesEmailIsPrivate">Private Profile Email</label>
        <div class="controls">
          <input type="Checkbox" id="userPreferencesEmailIsPrivate" name="userPreferencesEmailIsPrivate" ng-model="user.preferences.emailIsPrivate"></input>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="userPreferencesUseGravatar">Use Gravatar</label>
        <div class="controls">
          <input type="Checkbox" id="userPreferencesUseGravatar" name="userPreferencesUseGravatar" ng-model="user.preferences.useGravatar"></input>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="userPreferencesRememberMe">Remember Me</label>
        <div class="controls">
          <input type="Checkbox" id="userPreferencesRememberMe" name="userPreferencesRememberMe" ng-model="user.preferences.autoSignin"></input>
        </div>
      </div>

    </form>

    <hr>

    <div class="row-fluid">
      <button type="button" class="btn-primary btn-large" ng-click="save()">
        Save
      </button>

      <button type="button" class="btn btn-large" ng-click="cancel()">
        Cancel
      </button>
    </div>

  </div>

</div>
