<div class="task-list-view">

  <tabset type="'pills'" style="text-align:center; display: table; margin: 0 auto">

    <tab>
      <tab-heading tooltip="Actions" tooltip-placement="left">
        <i class="icon-fixed-width icon-rocket icon-2x"></i>
      </tab-heading>

      <button class="btn btn-large btn-block btn-success" ng-click="setDone(task, true)" tooltip="Done with task" tooltip-placement="right"><i class="icon-fixed-width icon-ok"></i>Done with task</button><br>
      <button class="btn btn-large btn-block " ng-click="editTask(task)" tooltip="Edit task" tooltip-placement="right"><i class="icon-fixed-width icon-edit"></i>Edit this task</button><br>
      <button class="btn btn-large btn-block btn-warning" ng-click="deleteTask(task)" tooltip="Delete" tooltip-placement="right"><i class="icon-fixed-width icon-remove"></i>Delete this task</button>

    </tab>

    <tab>
      <tab-heading tooltip="Priority" tooltip-placement="left">
        <i class="icon-fixed-width icon-star icon-2x"></i>
      </tab-heading>


      <h2>Priority</h2>

      <div class="icon-2x"><rating value="task.priority" max="5" readonly="false"></rating></div>
      <br/><br/>
      <button class="btn btn-large btn-block"
              ng-click="setTaskMustDo(task)"
              tooltip="This is the most important task!"
              tooltip-placement="right">
        <span style="color:#b94a48"><i class="icon-fixed-width icon-fire"></i>
        Must get this done!</span>
      </button>
    </tab>

    <tab>
      <tab-heading tooltip="Calendar" tooltip-placement="left">
        <i class="icon-fixed-width icon-calendar icon-2x"></i>
      </tab-heading>

      <h2>Calendar</h2>

      <div><p ng-show="task.dueDate">Due {{task.dueDate.toString()}}</p></div>
      <div><p ng-show="task.createdBy">Created by <span user-name id="task.createdBy"></span></p></div>
      <div><p ng-show="task.createdDate">Created {{task.createdDate}}</p></div>
    </tab>

    <tab>
      <tab-heading tooltip="Time-tracking" tooltip-placement="left">
        <i class="icon-fixed-width icon-time icon-2x"></i>
      </tab-heading>

      <h2>Time</h2>

      <button class="btn btn-large btn-block btn-primary" ng-click="setStartedDate(task)" tooltip="Start tracking time" tooltip-placement="right"><i class="icon-fixed-width icon-play"></i>Start</button></span><br>
      <button class="btn btn-large btn-block" ng-click="setStoppedDate(task)" tooltip="Stop tracking time" tooltip-placement="right"><i class="icon-fixed-width icon-stop"></i>Stop</button></span>

      <div><p ng-show="task.startedDate">Started {{task.startedDate}}</p></div>
      <div><p ng-show="task.finishedDate">Finished {{task.finishedDate}}</p></div>
    </tab>

    <tab>
      <tab-heading tooltip="Steps" tooltip-placement="left">
        <i class="icon-fixed-width icon-list icon-2x"></i>
      </tab-heading>

      <h2>Steps</h2>
      <div class="text-left">
        <ul class="unstyled" ui-sortable="" ng-model="task.steps">
          <li ng-repeat="step in task.steps"
              class="well well-small"
              style = "cursor: move;">
          <span class="text-left">
          <button class="btn btn-success" ng-hide="step.done" ng-click="setTaskStepDone(task, step, true)"><i class="icon-fixed-width icon-ok"></i></button>
          <button class="btn" ng-show="step.done" ng-click="setTaskStepDone(task, step, false)"><i class="icon-fixed-width icon-undo"></i></button>
          <span class="lead done-{{step.done}}">{{step.text}}</span>
          <span class="pull-right"><button class="btn btn-warning" ng-hide="step.done" ng-click="destroyTaskStep(task, step)"><i class="icon-fixed-width icon-remove"></i></button><span>
          </span>
          </li>
        </ul>
      </div>
      <hr>

      <textarea class="task-step" name="task_step" ng-model="nextStep" ng-maxlength="255"></textarea>
      <button class="btn btn-large btn-block btn-primary" ng-click="createTaskStep(task, nextStep); nextStep=''"><i class="icon-fixed-width icon-plus"></i>Add Step</button>
      <button class="btn btn-large btn-block btn-warning" ng-click="task.steps = []; nextStep=''"><i class="icon-fixed-width icon-remove"></i>Delete Steps</button>
    </tab>

    <tab>
      <tab-heading tooltip="Notes" tooltip-placement="left">
        <i class="icon-fixed-width icon-pencil icon-2x"></i>
      </tab-heading>

      <h2>Notes</h2>

      <div ng-show="hasNotes(task)">
        <textarea class="task-notes" name="task_notes" ng-model="task.notes" ng-maxlength="255" ng-change="saveTask(task)"></textarea>
      </div>
      <div ng-hide="hasNotes(task)">
        <button class="btn btn-large btn-block" ng-click="task.notes = 'Notes'">Add Notes</button>
      </div>
    </tab>

    <tab>
      <tab-heading tooltip="Code" tooltip-placement="left">
        <i class="icon-fixed-width icon-code icon-2x"></i>
      </tab-heading>

      <h2>Code</h2>

      <div class="container-fluid">
        <div class="row-fluid">
          <pre style="text-align:left">{{prettyPrintTask(task)}}</pre>
        </div>
      </div>
    </tab>

  </tabset>

</div>
