<span class="btn-group dropdown" style="padding:0; margin: 0">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-filter"></i>
    <span class="caret"></span>
  </a>

  <ul id="active-user-navbar-dropdown-menu" class="dropdown-menu" style="padding: 15px; padding-bottom: 0px; padding-right: 30px; min-width: 0px;">
    <form action="">
    <label class="radio inline">
      <input type="radio" name="tasksListFilter" value="all" data-ng-model="tasksListFilter"> Show all my tasks
    </label><br>

    <label class="radio inline">
      <input type="radio" name="tasksListFilter" value="done" data-ng-model="tasksListFilter"> Show tasks that are done
    </label><br>

    <label class="radio inline">
      <input type="radio" name="tasksListFilter" value="notDone" data-ng-model="tasksListFilter"> Show tasks that are not done
    </label><br>
    </form>
  </ul>
</span>
