.done-true {
  text-decoration: line-through;
  color: grey;
}


.created-date {
  font-size: small;
}


.task-stats {
  font-size: small;
}

.tasks-navbar-stats {
  padding-top: 10px;
}

.task-details {
  font-size: small;
}


.task-text {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.task-notes {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.form-add-task {
  vertical-align: middle;
}


.input-new-task-text {
  height: 1.5em !important;
  font-size: 1.5em !important;
}


@media all {
	.task-page-break	{ display: none; }
}

@media print {
	.task-page-break	{ display: block; page-break-before: always; }
}


.task-title-must {
  background-color: #F00;
}



.task-title-may {
  background-color: #FF0;
}



.task-titled-want {
  background-color: #00F;
}

.task-list-view {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
